<md-card>
  <md-card-header>
    <div md-card-avatar class="header-image"></div>
    <md-card-title>Cristian</md-card-title>
    <md-card-subtitle>Marín</md-card-subtitle>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>keyboard_arrow_down</md-icon>
    </button>
    <md-menu #menu="mdMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
      <button md-menu-item>
        <md-icon>person</md-icon>
        <span>Perfil</span>
        </button>
      <button md-menu-item>
        <md-icon>exit_to_app</md-icon>
        <span>Cerrar</span>
        </button>
    </md-menu>
  </md-card-header>
</md-card>
